{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block page_content %}
    <h2>Chat with {{ recipient.username }}</h2>
    <div class="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.author.username }}:</strong> {{ message.body }}</p>
        {% endfor %}
    </div>
    <form id="messageForm" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.message.label }}
            {{ form.message(id="message", class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io();

        // 监听接收消息事件
        socket.on('message_received', function(data) {
            var messageHtml = '<p><strong>' + data.author + ':</strong> ' + data.message + '</p>';
            $('.chat-box').append(messageHtml);  // 添加新消息到聊天框
        });

        // 加入聊天房间
        socket.emit('join', {room: 'chat_{{ chat_room.id }}'});

        // 处理表单提交事件
        $('#messageForm').submit(function(event) {
            event.preventDefault();  // 阻止默认表单提交行为
            var message = $('#message').val();  // 获取消息内容
            socket.emit('send_message', {message: message});  // 发送消息到服务器
            $('#message').val('');  // 清空输入框
        });
    </script>
{% endblock %}